.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.github-link {
  color: #c3c3c3;
  -o-transition:color .5s ease-out;
  -ms-transition:color .5s ease-out;
  -moz-transition:color .5s ease-out;
  -webkit-transition:color .5s ease-out;
  /* ...and now for the proper property */
  transition:color .5s ease-out;
  text-decoration: underline;
}
.github-link:hover{
  color:  #5dc0ee;
}